.card {
  background: #fff;
  border-radius: 2px;
  height: 225px;
  margin: 1rem;
  width: 225px;
}

.img-container {
  overflow: hidden;
  background: black;
}

img {
height: 100%;
width: 100%;
}

img:hover {
  -webkit-transform:scale(.7);
  -moz-transform:scale(.7);
  -ms-transform:scale(.7);
  -o-transform:scale(.7);
  transform:scale(.7);
}

  

